;;
{:paths ["src"]

 :deps {org.clojure/clojure                  {:mvn/version "1.11.1"}
        io.github.humbleui/humbleui {:git/url "https://github.com/HumbleUI/HumbleUI"
                                     :git/sha "4deed5195a61511c348c0799db118c5c25d73c04"}
        io.github.humbleui/types$clojure     {:mvn/version "0.1.2"}
        io.github.humbleui/jwm               {:mvn/version "0.4.0"  :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-windows     {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-linux       {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-macos-x64   {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-macos-arm64 {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        com.github.clojure-lsp/clojure-lsp {:mvn/version "2022.03.31-20.00.20"}
        proteus/proteus {:mvn/version "0.1.6"}
        clj-kondo/clj-kondo {:mvn/version "2022.03.09"}
        cnuernber/dtype-next {:mvn/version "9.026"}
        babashka/fs {:mvn/version "0.1.4"}
        org.suskalo/farolero {:mvn/version "1.4.3"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        better-cond/better-cond {:mvn/version "2.1.4"}
        criterium/criterium {:mvn/version "0.4.6"}
        io.lacuna/bifurcan {:mvn/version "0.2.0-alpha6"}
        ;; com.luisthiamnye/primitive-maths
        ;; {:git/url "https://github.com/LuisThiamNye/primitive-maths"
        ;;  :git/sha "cb24856629a3643483eebd71b4637ab7af9ce5d1"}
        org.clj-commons/primitive-math {:mvn/version "1.0.0"}
        metosin/malli {:mvn/version "0.8.4"}
        riddley/riddley {:mvn/version "0.2.0"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        com.crypticbutter/snoop {:mvn/version "21-353-alpha"}
        tech.droit/fset {:mvn/version "0.1.1"}
        town.lilac/cascade {:mvn/version "1.2.0"}
        borkdude/dynaload {:mvn/version "0.2.2"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.767-alpha"}}

 :aliases {
           :dev
           {:extra-paths []
            :extra-deps  {nrepl/nrepl {:mvn/version "0.9.0"}
                          com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :jvm-opts ["-Djdk.attach.allowAttachSelf" "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1044"]
            :main-opts   ["-m" "chic.main"]}
           ;;
           }}
