;;
{:paths ["src"]

 :deps {org.clojure/clojure                  {:mvn/version "1.11.0"}
        io.github.humbleui/humbleui {:git/url "https://github.com/HumbleUI/HumbleUI"
                                     :git/sha "4deed5195a61511c348c0799db118c5c25d73c04"}
        io.github.humbleui/types$clojure     {:mvn/version "0.1.2"}
        io.github.humbleui/jwm               {:mvn/version "0.4.0"  :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-windows     {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-linux       {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-macos-x64   {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-macos-arm64 {:mvn/version "0.100.0" :exclusions [io.github.humbleui/types]}
        com.github.clojure-lsp/clojure-lsp {:mvn/version "2022.03.26-18.47.08"}
        clj-kondo/clj-kondo {:mvn/version "2022.03.09"}
        babashka/fs {:mvn/version "0.1.4"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        toml/toml {:mvn/version "0.1.3"}
        metosin/malli {:mvn/version "0.8.4"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        com.crypticbutter/snoop {:mvn/version "21-353-alpha"}
        tech.droit/fset {:mvn/version "0.1.1"}
        town.lilac/cascade {:mvn/version "1.2.0"}
        borkdude/dynaload {:mvn/version "0.2.2"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}}

 :aliases {
           :dev
           {:extra-paths ["dev"]
            :extra-deps  {nrepl/nrepl {:mvn/version "0.9.0"}}
            :main-opts   ["-m" "chic.main" "--interactive"]}
           ;;
           }}
